<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.ScMapper">
    <select id="findAll" resultType="Sc">
        select * from sc
    </select>
    <insert id="addSc" parameterType="Sc">
        insert into sc
        (sjlx,sjclr,cplx,sjnr,sym,sjfssj,lrr,lrsj,xgr,xgsj)
        VALUES
        (#{sjlx},#{sjclr},#{cplx},#{sjnr},#{sym},#{sjfssj},#{lrr},#{lrsj},#{xgr},#{xgsj})
    </insert>
    <update id="editSc" parameterType="Sc">
        update sc
        set scsjbh=#{scsjbh},
        sjlx = #{sjlx},
        sjclr = #{sjclr},
        cplx = #{cplx},
        sjnr = #{sjnr}
        sjfssj = #{sjfssj}
        lrr = #{lrr}
        lrsj = #{lrsj}
        xgr = #{xgr}
        xgsj = #{xgsj}
        where sym = #{sym}
    </update>
    <delete id="delSc">
        delete from sc
        where sym = #{sym}
    </delete>
</mapper>